a {
	text-decoration: none;
	font-family: monospace;
	border-width: 1px;
	border-style: solid;
	border-color: #ff3c3c;
	border-spacing: 10px;
	padding:  5px;
	color: #ff3c3c

}


h1 {

	text-align: center;
	color: #ffffff;
	font-style: bold;
	font-size: 28px;
	font-family: Arial, Verdana;
	padding-top: 20px;

}

h2 {

	text-align: center;
	color: #ffffff;
	font-style: bold;
	font-size: 36px;
	font-family: Arial, Verdana;
	padding-top: 20px;

}


body {

	font-family: Calibri, Arial, sans-serif;
	font-size: 12pt;
	color: #ffffff;
	text-align: center;
	background-color: #000000;

}

h2 {

	font-family: Arial, Verdana;

}

img {

	max-height: 800px;
	max-width:  800px;

}

p {

	padding-right: 250px;
	padding-left: 250px;
	padding-top: 10px;
	line-height: 1.6em;

}
